name: CI-gc
on:
    push:
        branches: ['main']
jobs:
    build:
        environment: staging
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Connect to DockerHub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_TOKEN }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Install dependencies
              run: go get .

            - name: Test with the Go CLI
              run: go test

            - name: Build and Push
              uses: docker/build-push-action@v4
              with:
                  file: ./deployments/Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_USERNAME }}/api-guarding-child:latest

    deployment:
        needs: build
        environment: staging
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to Server
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.SERVER }}
                  username: ${{ secrets.SERVER_USERNAME }}
                  password: ${{ secrets.SERVER_PASSWORD }}
                  port: ${{ secrets.SERVER_PORT }}
                  script: whoami
                      docker pull ${{ vars.IMAGE_NAME }}
                      docker run -d -p 8080:8080 --name ${{ vars.CONTAINER_NAME }} ${{ vars.IMAGE_NAME }}
